## Stock Market Project. Get Data.

In [3]:
### Get data from Yahoo Finance using yfinance package
### source for stocks list: [https://whalewisdom.com/]

### 0. Import Libraries.

In [75]:
import pandas as pd
import numpy as np
import yfinance as yf
import gc; gc.enable()
import warnings
warnings.filterwarnings("ignore")

### 1. Create lists with stock tickers.
source for stocks list: [https://whalewisdom.com/filer/renaissance-technologies-llc]

In [76]:
tickers_1=['BMY','NVO','VRTX','VRSN','BIIB',
            'AGN','CMG','WMT','HUM','ABBV',
            'GILD','PANW','TEAM','GSK','MNST',
            'AMGN','NVS','HSY','S','TGT',
            'DPZ','FTNT','MOH','BIDU','DUK',
            'NEM','ETR','MRK','CABO','ALGN',
            'VOD','FNV','FE','CL','GOLD',
            'AEP','SO','NGG','ZM','EVRG',
            'TSLA','JNJ','MKTX','AEE','CBOE',
            'KR','AMZN','EBAY','ED','PBR']

In [86]:
tickers_2 = ['COST','DBX','EXEL','JAZZ','UTHR',
             'ICLR','BP','ALXN','GE','INCY',
             'MBT','PGR','TER','HZNP','NEE',
             'CME','AMT','NTES','VZ','T',
             'ABMD','PSA','CCOI','FFIV','MOMO',
             'STX','ELS','CHL','PDD','HLF',
             'SBAC','SIRI','PG','TSM','CLX',
             'DXCM','EDU','KO','XEL','GIS',
             'HSBC','KGC','RL','FOXA','AAPL',
             'NFLX','CCI','PNW','REGN','ERIC']

In [92]:
tickers_3 = ['CSX','HAE','CHTR','BHC','K',
             'ANET','SAM','AMTD','MKL','ZTS',
             'AES','ATUS','FTS','GDDY','AMD',
             'GOOG','VALE','ALSN','DG','RYAAY',
             'NYT','AVLR','GLPI','LULU','EA',
             'AZN','CRL','ADSW','LITE','ETSY',
             'AEM','SPOT','INVH','QRVO','FB',
             'WCN','UDR','QCOM','EQNR','ENB',
             'NVCR','POR','JPM','WIX','SFM',
             'RCI','GOOGL','CHD','AIV','TM']

In [93]:
tickers_4 = ['BNS','TERP','NTAP','SNP','KL',
             'TU','MSCI','BTG','ACM','RTN',
             'PEP','V','PNM','RH','AUY',
             'LUV','MO','ESS','RNR','CHT',
             'LM','CHE','CNP','DEI','SATS',
             'ZNGA','AVA','PINC','BBY','BUD',
             'FIZZ','BKH','CZZ','ABEV','DLB',
             'LOGI','PAAS','SWCH','CEO','COR',
             'BRC','TS','BCE','UI','AZPN',
             'AXS','SPGI','ALKS','TCOM','CMS']

In [127]:
tickers_5 = ['EIX','IDA','CORT','FLO','GFI','RSG','MCO','TFSL','MCY','INVA',
             'VGR','BILI','CFFN','MKC','D','NRG','CSGS','WBC','VMW','CWST',
             'GNTX','RYN','BKNG','TLK','TECH','PPL','USNA','LANC','CVLT','AWK',
             'BABA','WPM','WING','WFC','EL','PEG','HUYA','OLED','UBS','GS',
             'SAFM','INTC','LAMR','CPB','WEC','MTD','IDXX','PFE','HEI.A','AYI',
             'MORN','STRA','PCRX','CPA','WRE','SHEN','SCHW','CROX','CTXS','RBA',
             'APAM','EC','RDY','GWW','CS','IONS','PCH','SSRM','TV','ACGL',
             'DHT','FSV','CLH','PRGS','EW','ENPH','CVS','FTDR','MCD','HMC',
             'EXC','VTR','RGR','WDFC','JNPR','SYNA','AMBA','SLG','KMB','WNS',
             'CM','TRIP','IDCC','RIO','SJR','VIAV','RELX','LW','FCFS','ES',
             'KOF','MT','CRVL','C','SBS','ADBE','HDB','PHI','TIF','STLD',
             'SUI','AGI','EE','DVA','SYY','VVV','LMNX','AMAT','UGI','SJW',
             'PBR.A','NBIX','MA','CWEN','NVR','NVMI','OGE','NVDA','CAH','PAC',
             'OFC','LNT','NLY','MEDP','GTY','RCII','SBUX','CSII','HTZ','FOX',
             'RGLD','AU','SWKS','CRH','ENDP','LK','CLI','MUSA','IRT','GMED',
             'TAK','ORI','AWI','CTSH','AQN','MED','BRO','WST','UHT','SPG',
             'NSA','MFC','LSI','PRDO','PHM','EVTC','DEA','ONTO','MODN','BLDR',
             'IAG','TDS','HRL','SHO','SJM','ALE','NOW','AGR','GRMN','OHI',
             'SLB','ZBH','CNK','SAP','KRNY','HOLX','WSFS','NHI','PODD','EGO',
             'PRSC','UTL','HCA','MSI','ORA','RMBS','CXW','SRE','AXTA','XRAY',
             'LMT','WK','NUAN','VST','NHC','ORLY','IRET','TTWO','KBH','MLCO',
             'PETS','SPSC','GLPG','LBTYA','CIGI','LPX','NI','DEO','CVI','PTR',
             'ATVI','HLNE','ENTA','PZZA','FMX','UL','WM','CALM','SMFG','LGND',
             'AMX','CZR','NTCO','CHKP','AA','EXR','CRM','BAH','REG','PDM',
             'ESRT','SEIC','LDOS','BKD','KSS','AHH','ZTO','GD','OSUR','DLR',
             'BTI','TARO','EGOV','MBUU','APLE','ALLE','JJSF','VNDA','CCMP','UN',
             'RDWR','IPHI','UMC','NVRO','MGLN','WU','MNR','NLOK','CF','OTTR',
             'ATNI','EXPO','CWEN.A','IMGN','MDLZ','OUT','CRUS','PM','MDU','GOOD',
             'KEYS','XPER','BXP','PCAR','RGEN','HUBB','QSR','NBHC','YUMC','SKYW',
             'EBS','AJRD','PGRE','ALX','EBF','TMO','BMY/R','HIW','CAJ','WLTW']

### 2. Define functions for data collection.

In [78]:
def get_stock_data(symbol,period):
    '''
    Function returns historical market data 
    for provided stock symbol and period.
    '''
    # get ticker
    ticker = yf.Ticker(symbol)
    # get historical market data
    data = ticker.history(period=period)
    gc.collect()
    return data

def get_data(tickers,period='10y'):
    '''
    Function returns data frame with historical market data
    for provided tickers(which is list of stocks symbols) 
    and indicated period.
    '''
    
    df = pd.DataFrame()
    for ticker in tickers:
        try:
            # get historical data for each ticker
            df_add = get_stock_data(ticker,period=period)
            # add a column with ticker symbol for identification
            df_add['Ticker'] = ticker
            # concatenate df-s
            df = pd.concat([df,df_add],sort='False')
        except:
            print(f'Ticker error:{ticker}')
    gc.collect()   
    return df

### 3. Get data.

In [79]:
df_1 = get_data(tickers_1,period='10y')

In [84]:
df_1.to_csv('tickers_1.csv', index=True)

In [91]:
df_2 = get_data(tickers_2,period='10y')
df_2.to_csv('tickers_2.csv', index=True)

In [94]:
df_3 = get_data(tickers_3,period='10y')
df_3.to_csv('tickers_3.csv', index=True)

In [95]:
df_4 = get_data(tickers_4,period='10y')
df_4.to_csv('tickers_4.csv', index=True)

In [128]:
df_5 = get_data(tickers_5,period='10y')
df_5.to_csv('tickers_5.csv', index=True)

- HEI.A: No data found, symbol may be delisted
- PBR.A: No data found, symbol may be delisted
- CWEN.A: No data found, symbol may be delisted
Ticker error:BMY/R

In [130]:
### 4 errors occured, check
df_5["Ticker"].nunique()

296

### 4. Concatenate in one df.

In [134]:
# check column names for df_4
df_4.columns

Index(['Close', 'Dividends', 'High', 'Low', 'Open', 'Stock Splits', 'Ticker',
       'Volume'],
      dtype='object')

In [135]:
# check column names for df_5
df_5.columns

Index(['Adj Close', 'Close', 'Dividends', 'High', 'Low', 'Open',
       'Stock Splits', 'Ticker', 'Volume'],
      dtype='object')

In [136]:
# delete extra column in df_5
del df_5["Adj Close"]

In [105]:
# concatenate 200 stocks in one file 
df = pd.concat([df_1,df_2,df_3,df_4],sort='False')
df.to_csv('stocks_200.csv', index=True)

In [137]:
# concatenate 500 stocks in one file 
df = pd.concat([df,df_5],sort='False')
df.to_csv('stocks_500.csv', index=True)

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1142790 entries, 2010-05-19 to 2020-05-18
Data columns (total 8 columns):
Close           1142776 non-null float64
Dividends       1142790 non-null float64
High            1142776 non-null float64
Low             1142776 non-null float64
Open            1142776 non-null float64
Stock Splits    1142790 non-null float64
Ticker          1142790 non-null object
Volume          1142776 non-null float64
dtypes: float64(7), object(1)
memory usage: 78.5+ MB

In [141]:
df

,Close,Dividends,High,Low,Open,Stock Splits,Ticker,Volume
Date,,,,,,,,
2010-05-19,17.17,0.0,17.27,16.88,16.99,0.0,BMY,16424000.0
2010-05-20,16.72,0.0,17.17,16.69,16.94,0.0,BMY,18724700.0
2010-05-21,16.62,0.0,16.69,16.29,16.58,0.0,BMY,17799800.0
2010-05-24,16.65,0.0,16.78,16.46,16.60,0.0,BMY,13271000.0
2010-05-25,16.55,0.0,16.57,16.10,16.36,0.0,BMY,13904100.0
...,...,...,...,...,...,...,...,...
2020-05-12,200.79,0.0,202.54,199.91,199.91,0.0,WLTW,1028600.0
2020-05-13,197.17,0.0,201.81,196.51,199.58,0.0,WLTW,840200.0
2020-05-14,201.66,0.0,202.20,193.28,195.83,0.0,WLTW,877600.0
2020-05-15,200.48,0.0,201.07,198.30,201.03,0.0,WLTW,1363900.0
2020-05-18,204.74,0.0,208.94,204.04,205.76,0.0,WLTW,955000.0

In [142]:
# check number of stocks
df["Ticker"].nunique()

496

In [143]:
### Get 4 stocks to make 500 stock data
tickers_6 = ['WTS','UAL','ENIA','AMH']
df_6 = get_data(tickers_6,period='10y')

In [145]:
df_6

,Close,Dividends,High,Low,Open,Stock Splits,Ticker,Volume
Date,,,,,,,,
2010-05-19,29.35,0.00,30.40,28.98,30.29,0.0,WTS,409500
2010-05-20,28.12,0.11,29.06,28.11,28.64,0.0,WTS,391500
2010-05-21,28.40,0.00,28.63,27.44,27.67,0.0,WTS,285100
2010-05-24,27.95,0.00,28.62,27.87,28.24,0.0,WTS,212400
2010-05-25,28.04,0.00,28.14,26.76,27.14,0.0,WTS,306800
...,...,...,...,...,...,...,...,...
2020-05-12,23.81,0.00,24.80,23.67,24.72,0.0,AMH,3746300
2020-05-13,23.15,0.00,23.74,22.77,23.70,0.0,AMH,2344900
2020-05-14,23.06,0.00,23.10,22.00,22.72,0.0,AMH,2707600
2020-05-15,23.09,0.00,23.15,22.53,22.90,0.0,AMH,1773500
2020-05-18,23.91,0.00,24.32,23.67,23.99,0.0,AMH,2556000

In [146]:
# create final 500 stocks and save
df = pd.concat([df,df_6],sort='False')
df.to_csv('stocks_500_full.csv', index=True)

In [147]:
df["Ticker"].nunique()

500

In [148]:
df

,Close,Dividends,High,Low,Open,Stock Splits,Ticker,Volume
Date,,,,,,,,
2010-05-19,17.17,0.0,17.27,16.88,16.99,0.0,BMY,16424000.0
2010-05-20,16.72,0.0,17.17,16.69,16.94,0.0,BMY,18724700.0
2010-05-21,16.62,0.0,16.69,16.29,16.58,0.0,BMY,17799800.0
2010-05-24,16.65,0.0,16.78,16.46,16.60,0.0,BMY,13271000.0
2010-05-25,16.55,0.0,16.57,16.10,16.36,0.0,BMY,13904100.0
...,...,...,...,...,...,...,...,...
2020-05-12,23.81,0.0,24.80,23.67,24.72,0.0,AMH,3746300.0
2020-05-13,23.15,0.0,23.74,22.77,23.70,0.0,AMH,2344900.0
2020-05-14,23.06,0.0,23.10,22.00,22.72,0.0,AMH,2707600.0
2020-05-15,23.09,0.0,23.15,22.53,22.90,0.0,AMH,1773500.0
2020-05-18,23.91,0.0,24.32,23.67,23.99,0.0,AMH,2556000.0

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1152052 entries, 2010-05-19 to 2020-05-18
Data columns (total 8 columns):
Close           1152038 non-null float64
Dividends       1152052 non-null float64
High            1152038 non-null float64
Low             1152038 non-null float64
Open            1152038 non-null float64
Stock Splits    1152052 non-null float64
Ticker          1152052 non-null object
Volume          1152038 non-null float64
dtypes: float64(7), object(1)
memory usage: 79.1+ MB